/* Start Global Rules */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
}

:root {
    --mainColor1: #2196f3;
    --mainColor2: #1787e0;
    --mainColor3: #fafafa;
    --mainColor4: #777;
    --mainColor5: white;
    --mainColor6: #ececec;
    --mainTransition: 250ms;
    --padd-section: 100px;
    --mainSahdow: 0 0 15px -2px #ddd;
}

.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media All And (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media All And (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media All And (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-trans {
    transition-duration: var(--mainTransition);
}

.color1 {
    color: var(--mainColor1);
}

.bg-color1 {
    background-color: var(--mainColor1);
}

.color2 {
    color: var(--mainColor2);
}

.bg-color2 {
    background-color: var(--mainColor2);
}

.color3 {
    color: var(--mainColor3);
}

.bg-color3 {
    background-color: var(--mainColor3);
}

.color4 {
    color: var(--mainColor4);
}

.bg-color4 {
    background-color: var(--mainColor4);
}

.color5 {
    color: var(--mainColor5);
}

.bg-color5 {
    background-color: var(--mainColor5);
}

.color6 {
    color: var(--mainColor6);
}

.bg-color6 {
    background-color: var(--mainColor6);
}

.padd-section {
    padding-block: var(--padd-section);
}

.scroll-section {
    scroll-margin-top: 10px;
}

.section-header {
    margin: auto;
    width: fit-content;
    text-transform: uppercase;
    font-size: 32px;
    border: 2.5px solid;
    padding: 10px 20px;
    letter-spacing: -1px;
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
}

.section-header:hover {
    color: var(--mainColor5);
    border-color: transparent;
    transition: var(--mainTransition) 500ms;
}

.section-header::before,
.section-header::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: var(--mainColor1);
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.section-header::after {
    left: auto;
    right: -30px;
}

.section-header:hover::before,
.section-header:hover::after {
    height: 100%;
    width: 51%;
    border-radius: 0;
    transition-property: left, right, height, width, border-radius;
    transition-duration: var(--mainTransition);
    transition-delay: 0ms, 0ms, var(--mainTransition), var(--mainTransition), var(--mainTransition);
    transition-timing-function: linear;
}

.section-header:hover::before {
    left: 0;
}

.section-header:hover::after {
    right: 0;
}

@media (max-width: 350px) {
    .section-header {
        font-size: 24px;
    }
}

.dotted-section {
    position: relative;
    z-index: 0;
}

.dotted-section::before,
.dotted-section::after {
    content: url(../images/dots.png);
    position: absolute;
    right: 0;
    top: 200px;
    z-index: -1;
}

.dotted-section::after {
    inset: auto auto 200px 0;
}

.spikes-top,
.spikes-down {
    position: relative;
    z-index: 1;
}

.spikes-top::before,
.spikes-down::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to right bottom, white 25%, transparent 25%) left/30px, 
    linear-gradient(to left bottom, white 25%, transparent 25%) left/30px;
}

.spikes-down::before {
    top: -30px;
    background: linear-gradient(to right top, white 25%, transparent 25%) left/30px, 
    linear-gradient(to left top, white 25%, transparent 25%) left/30px;
}

@media (max-width: 1199px) {

    .dotted-section::before,
    .dotted-section::after {
        content: none;
    }
}

::-webkit-scrollbar {
    width: 16px;
    box-shadow: 0 0 15px -2px #ddd inset;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(23 135 224 / 95%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(23 135 224 / 100%);
}

/* End Global Rules */

/* ========================================================================== */

/* Start Header */
header {
    box-shadow: 0 1px 5px 0px #ddd;
}

header h1 {
    font-size: 26px;
}

header .nav>li>a::before {
    content: "";
    height: 4px;
    width: 0;
    background-color: var(--mainColor1);
    position: absolute;
    left: 0;
    top: 0;
    transition-duration: var(--mainTransition);
}

header .nav>li:hover>a {
    color: var(--mainColor2);
    background-color: var(--mainColor3);
}

header .nav>li:hover>a::before {
    width: 100%;
}

header .nav li .menu {
    grid-template-columns: repeat(2, calc((100% - 40px) / 2));
    border-top: 1px solid #ececec;
    border-bottom: 3px solid var(--mainColor1);
    top: 200%;
}

header .nav li .menu ul {
    grid-template-columns: repeat(2, calc((100% - 40px) / 2));
}

header .nav li .menu li:nth-child(2) {
    grid-area: 2/1;
}

header .nav li .menu li:nth-child(3) {
    grid-area: 3/1;
}

header .nav li .menu li:nth-child(4) {
    grid-area: 4/1;
}

header .nav li .menu li:nth-child(5) {
    grid-area: 5/1;
}

header .nav li .menu li:not(:nth-child(5), :last-child) a {
    border-bottom: 1px solid #e9e6e6;
}

header .nav li .menu a::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--mainColor3);
    transition-duration: var(--mainTransition);
    z-index: -1;
}

header .nav>li:last-child:hover .menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    transition-duration: var(--mainTransition);
}

header .nav li .menu a:hover::before {
    width: 100%;
}

/* End Header */
/* Start Landing */
.landing {
    margin-bottom: calc(10vh - 66.5px);
    box-shadow: 0 calc(10vh - 66.5px) white;
}

.landing .container {
    min-height: calc(90vh - 70.69px);
    grid-template-columns: repeat(2, calc((100% - 40px) / 2));
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 10px);
    left: 0;
    top: 0;
    background-color: var(--mainColor6);
    z-index: -1;
    transform: rotate(-5deg) scaleX(2) translateX(-25%);
    transform-origin: top left;
}

.landing .container .image {
    animation-name: move;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes move {
    to {
        transform: translateY(-15%);
    }
}

.landing a {
    animation: down infinite 1.8s;
}

.landing a:hover {
    color: var(--mainColor2);
}

.landing a:active {
    text-shadow: 0 0 50px var(--mainColor2);
}

@keyframes down {

    20%,
    40% {
        transform: translateY(-30%);
    }

    30%,
    50% {
        transform: translateY(10%);
    }

    60%,
    100% {
        transform: translateY(0);
    }
}

/* End Landing */
/* Start Articles */
.articles .box {
    grid-template-columns: repeat(4, calc((100% - 120px) / 4));
}

.articles .box .test-title {
    box-shadow: var(--mainSahdow);
    transition: var(--mainTransition);
}

.articles .box .read-more {
    border-top: 1px solid #e6e6e7;
}

.articles .box .test-title:hover {
    transform: translateY(-10px);
    box-shadow: 0 3px 20px -8px rgb(0 0 0 / 50%);
}

@keyframes move-right {
    to {
        transform: translateX(10px);
    }
}

.articles .box .test-title:hover .read-more i {
    animation: move-right 600ms linear infinite;
}

/* End Articles */
/* Start Gallery */
.gallery .box {
    grid-template-columns: repeat(3, calc((100% - 80px) / 3));
}

.gallery .box>div {
    box-shadow: var(--mainSahdow);
}

.gallery .box .image::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 15%);
}

.gallery .box>div:hover .image::after {
    animation: color-effect 500ms ease-in;
}

@keyframes color-effect {
    50% {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255, 20%);
    }

    100% {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255, 0%);
    }
}

.gallery .box>div:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* End Gallery */
/* Start Features */
.features .box {
    grid-template-columns: repeat(3, calc((100% - 80px) / 3));
}

.features .box>div {
    border: 1px solid #ccc;
    box-shadow: var(--mainSahdow);
}

.features .box .image::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgb(244 64 54 / 60%);
}

.features .box .image::after {
    content: "";
    position: absolute;
    background-color: var(--mainColor5);
    height: 50%;
    width: 100%;
    bottom: -1px;
    left: 0;
    clip-path: polygon(-30% 100%, 100% 100%, 100% 5%);
    transition: var(--mainTransition);
}

.features .box>div:hover .image::after {
    clip-path: polygon(-30% 100%, 100% 100%, -55% 0%);
}

.features .time .image::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .passion .image::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .box h3::after {
    content: "";
    display: block;
    width: 90px;
    height: 5px;
    background-color: #f44036;
    margin: auto;
    margin-top: 15px;
}

.features .time h3:after {
    width: 55px;
    background-color: #009688;
}

.features .passion h3:after {
    width: 110px;
    background-color: #03a9f4;
}

.features .quality a {
    border: 3px solid #f44036;
    color: #f44036;
}

.features .time a {
    border: 3px solid #009688;
    color: #009688;
}

.features .passion a {
    border: 3px solid #03a9f4;
    color: #03a9f4;
}

.features .box a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #f44036;
    transition: var(--mainTransition);
    z-index: -1;
}

.features .time a::before {
    background-color: #009688;
}

.features .passion a::before {
    background-color: #03a9f4;
}

.features .box>div:hover a::before {
    width: 100%;
}

.features .box>div:hover a {
    color: var(--mainColor5);
}

/* End Features */
/* Start Testimonials */
.testimonials .box {
    grid-template-columns: repeat(3, calc((100% - 80px) / 3));
}

.testimonials .box .data {
    box-shadow: var(--mainSahdow);
}

.testimonials .box i.filled {
    color: #ffc107;
}

.testimonials .box .image {
    border: 10px solid var(--mainColor6);
    right: -10px;
}

/* End Testimonials */
/* Start Team Members */
.team-members .team-container {
    grid-template-columns: repeat(3, calc((100% - 80px) / 3));
}

.team-members .box {
    padding-top: 60px;
}

.team-members .box::before,
.team-members .box::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 85%;
    right: 0;
    top: 0;
    background-color: #f3f3f3;
    z-index: -1;
    transition: var(--mainTransition);
    border-radius: 10px;
}

.team-members .box::after {
    width: 0;
}

.team-members .box:hover::after {
    width: 85%;
    background-color: #e4e4e4;
}

.team-members .box:hover img,
.team-members .box:hover .text h3 {
    filter: saturate(0);
}

.team-members .links a:hover {
    color: var(--mainColor1);
}

/* End Team Members */
/* Start Services */
.services .container-box {
    grid-template-columns: repeat(3, calc((100% - 80px) / 3));
}

.services .box {
    counter-increment: services;
    box-shadow: var(--mainSahdow);
}

.services .box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.25px;
    background-color: var(--mainColor1);
    transform: scaleX(0);
    transition: transform var(--mainTransition);
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box:hover::before {
    transform: scaleX(1);
}

.services .box i {
    color: #d5d5d5;
}

.services .box a {
    padding: 16px;
    background-color: #f9f9f9;
}

.services .box a::before {
    content: counter(services, decimal-leading-zero);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: var(--mainColor1);
    color: var(--mainColor5);
    height: 100%;
    width: 115px;
    display: grid;
    align-content: center;
    font-weight: 600;
    padding-right: 30px;
}

.services .box a::after {
    content: "";
    position: absolute;
    left: 85px;
    height: 100%;
    width: 50px;
    background: #d5d5d5;
    transform: scaleY(1.1) skewX(-30deg);
}

/* End Services */
/* Start Our Skills */
.our-skills .container-skills {
    grid-template-columns: 45% 55%;
}

.our-skills .html .ratio {
    background-image: linear-gradient(to right, var(--mainColor1) 80%, #eee 80%);
}

.our-skills .css .ratio {
    background-image: linear-gradient(to right, var(--mainColor1) 85%, #eee 85%);
}

.our-skills .js .ratio {
    background-image: linear-gradient(to right, var(--mainColor1) 70%, #eee 70%);
}

.our-skills .python .ratio {
    background-image: linear-gradient(to right, var(--mainColor1) 80%, #eee 80%);
}

.our-skills .skills h3::after {
    content: attr(ratio);
    color: var(--mainColor1);
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

/* End Our Skills */
/* Start How It Works */
.how-it-works .container-works {
    grid-template-columns: 50% 50%;
}

.how-it-works .works>div {
    background-color: #f6f5f5;
    border: 2px solid white;
}

.how-it-works .works>div::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    transform: scale(0);
    transition: transform var(--mainTransition);
    z-index: -1;
}

.how-it-works .works>div:hover::before {
    transform: scale(1);
}

/* End How It Works */
/* Start Events Section */
.events .box {
    grid-template-columns: 40% 60%;
}

.events .box .time>div {
    border: 1px solid #d4d4d4;
}

.events .box .time>div span {
    border-top: 1px solid #d4d4d4;
    font-size: 14px;
    padding-block: 8px;
    transition-duration: var(--mainTransition);
}

.events .box .time>div:hover,
.events .box .time>div:hover span {
    border-color: var(--mainColor1);
}

.events .box .time>div::before {
    color: var(--mainColor1);
    font-size: 35px;
    font-weight: 600;
    padding-block: 15px;
}

.events .box .time .days::before {
    content: "15";
}

.events .box .time .hours::before {
    content: "08";
}

.events .box .time .minutes::before {
    content: "45";
    animation: minutes 2700s 60s infinite linear;
}

.events .box .time .seconds::before {
    content: "60";
    animation: seconds 60s infinite linear;
}

.events .box form {
    grid-area: 2/1/2/3;
    background: #f6f5f5;
    border-radius: 50px;
}

.events .box form input {
    border-radius: 30px;
}

.events .box form input::placeholder {
    text-transform: capitalize;
    transition-duration: var(--mainTransition);
}

.events .box form input:focus::placeholder {
    color: transparent;
}

.events .box form input:last-child:hover {
    background-color: var(--mainColor2);
}

@keyframes seconds {
    0%, 1.6666% {
        content: "59";
    }
    1.6667%, 3.3333% {
        content: "58";
    }
    3.3334%, 5.0000% {
        content: "57";
    }
    5.0001%, 6.6667% {
        content: "56";
    }
    6.6668%, 8.3334% {
        content: "55";
    }
    8.3335%, 10.0001% {
        content: "54";
    }
    10.0002%, 11.6668% {
        content: "53";
    }
    11.6669%, 13.3335% {
        content: "52";
    }
    13.3336%, 15.002% {
        content: "51";
    }
    15.003%, 16.666% {
        content: "50";
    }
    16.667%, 18.3336% {
        content: "49";
    }
    18.3337%, 20.0003% {
        content: "48";
    }
    20.0004%, 21.6670% {
        content: "47";
    }
    21.6671%, 23.3337% {
        content: "46";
    }
    23.3338%, 25.0004% {
        content: "45";
    }
    25.0005%, 26.6671% {
        content: "44";
    }
    26.6672%, 28.3338% {
        content: "43";
    }
    28.3339%, 30.0005% {
        content: "42";
    }
    30.0006%, 31.6672% {
        content: "41";
    }
    31.6673%, 33.333% {
        content: "40";
    }
    33.334%, 35.0006% {
        content: "39";
    }
    35.0007%, 36.6673% {
        content: "38";
    }
    36.6674%, 38.3340% {
        content: "37";
    }
    38.3341%, 40.0007% {
        content: "36";
    }
    40.0008%, 41.6674% {
        content: "35";
    }
    41.6675%, 43.3341% {
        content: "34";
    }
    43.3342%, 45.0008% {
        content: "33";
    }
    45.0009%, 46.6675% {
        content: "32";
    }
    46.6676%, 48.3342% {
        content: "31";
    }
    48.3343%, 50.000% {
        content: "30";
    }
    50.001%, 51.6676% {
        content: "29";
    }
    51.6677%, 53.3343% {
        content: "28";
    }
    53.3344%, 55.0010% {
        content: "27";
    }
    55.0011%, 56.6677% {
        content: "26";
    }
    56.6678%, 58.3344% {
        content: "25";
    }
    58.3345%, 60.0011% {
        content: "24";
    }
    60.0012%, 61.6678% {
        content: "23";
    }
    61.6679%, 63.3345% {
        content: "22";
    }
    63.3346%, 65.0012% {
        content: "21";
    }
    65.0013%, 66.667% {
        content: "20";
    }
    66.668%, 68.3346% {
        content: "19";
    }
    68.3347%, 70.0013% {
        content: "18";
    }
    70.0014%, 71.6680% {
        content: "17";
    }
    71.6681%, 73.3347% {
        content: "16";
    }
    73.3348%, 75.0014% {
        content: "15";
    }
    75.0015%, 76.6681% {
        content: "14";
    }
    76.6682%, 78.3348% {
        content: "13";
    }
    78.3349%, 80.0015% {
        content: "12";
    }
    80.0016%, 81.6682% {
        content: "11";
    }
    81.6683%, 83.334% {
        content: "10";
    }
    83.335%, 85.0016% {
        content: "09";
    }
    85.0017%, 86.6683% {
        content: "08";
    }
    86.6684%, 88.3350% {
        content: "07";
    }
    88.3351%, 90.0017% {
        content: "06";
    }
    90.0018%, 91.6684% {
        content: "05";
    }
    91.6685%, 93.3351% {
        content: "04";
    }
    93.3352%, 95.0018% {
        content: "03";
    }
    95.0019%, 96.6685% {
        content: "02";
    }
    96.6686%, 98.3352% {
        content: "01";
    }
    98.3353%, 100% {
        content: "00";
    }
}

@keyframes minutes {
    0%, 2.2222% {
        content: "44";
    }
    2.2223%, 4.4444% {
        content: "43";
    }
    4.4445%, 6.6666% {
        content: "42";
    }
    6.6667%, 8.8888% {
        content: "41";
    }
    8.8889%, 11.111% {
        content: "40";
    }
    11.112%, 13.3332% {
        content: "39";
    }
    13.3333%, 15.5554% {
        content: "38";
    }
    15.5555%, 17.7776% {
        content: "37";
    }
    17.7777%, 19.9998% {
        content: "36";
    }
    19.9999%, 22.222% {
        content: "35";
    }
    22.223%, 24.4442% {
        content: "34";
    }
    24.4443%, 26.6664% {
        content: "33";
    }
    26.6665%, 28.8886% {
        content: "32";
    }
    28.8887%, 31.1108% {
        content: "31";
    }
    31.1109%, 33.333% {
        content: "30";
    }
    33.334%, 35.5552% {
        content: "29";
    }
    35.5553%, 37.7774% {
        content: "28";
    }
    37.7775%, 39.9996% {
        content: "27";
    }
    39.9997%, 42.2218% {
        content: "26";
    }
    42.2219%, 44.444% {
        content: "25";
    }
    44.445%, 46.6662% {
        content: "24";
    }
    46.6663%, 48.8884% {
        content: "23";
    }
    48.8885%, 51.1106% {
        content: "22";
    }
    51.1107%, 53.3328% {
        content: "21";
    }
    53.3329%, 55.555% {
        content: "20";
    }
    55.556%, 57.7772% {
        content: "19";
    }
    57.7773%, 59.9994% {
        content: "18";
    }
    59.9995%, 62.2216% {
        content: "17";
    }
    62.2217%, 64.4438% {
        content: "16";
    }
    64.4439%, 66.666% {
        content: "15";
    }
    66.667%, 68.8882% {
        content: "14";
    }
    68.8883%, 71.1104% {
        content: "13";
    }
    71.1105%, 73.3326% {
        content: "12";
    }
    73.3327%, 75.5548% {
        content: "11";
    }
    75.5549%, 77.777% {
        content: "10";
    }
    77.778%, 79.9992% {
        content: "09";
    }
    79.9993%, 82.2214% {
        content: "08";
    }
    82.2215%, 84.4436% {
        content: "07";
    }
    84.4437%, 86.6658% {
        content: "06";
    }
    86.6659%, 88.888% {
        content: "05";
    }
    88.889%, 91.1102% {
        content: "04";
    }
    91.1103%, 93.3324% {
        content: "03";
    }
    93.3325%, 95.5546% {
        content: "02";
    }
    95.5547%, 97.7768% {
        content: "01";
    }
    97.7769%, 100% {
        content: "00";
    }
}

/* End Events Section */
/* Start Pricing Plans */
.pricing-plans .box {
    grid-template-columns: repeat(3, calc((100% - 60px) / 3));
}

.pricing-plans .box>div {
    box-shadow: 0 3px 20px -8px rgb(0 0 0 / 50%);
}

.pricing-plans .box>div::before,
.pricing-plans .box>div::after {
    content: "";
    width: 0;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f6f6f6;
    transition: var(--mainTransition);
    z-index: -1;
}

.pricing-plans .box>div::after {
    inset: auto 0 0 auto;
}

.pricing-plans .box>div:hover::before,
.pricing-plans .box>div:hover::after {
    width: 100%;
}

.pricing-plans .box .advanced {
    transform: translateY(-20px);
}

.pricing-plans .box li {
    padding: 18px 20px;
    border-top: 1px solid #eee;
    display: flex;
    gap: 10px;
    align-items: center;
}

.pricing-plans .box li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: var(--mainColor1);
}

.pricing-plans .box a {
    border: 2px solid var(--mainColor1);
}

.pricing-plans .box a:hover {
    background-color: var(--mainColor2);
    color: var(--mainColor5);
}

.pricing-plans .label {
    position: absolute;
    inset-block-end: 20px;
    inset-inline-start: 0;
    padding-inline: 10px 30px;
    background-color: var(--mainColor1);
    color: var(--mainColor5);
    writing-mode: vertical-lr;
    font-weight: bold;
    font-size: 18px;
    block-size: 40px;
    display: flex;
    align-items: center;
}

.pricing-plans .label::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border: 20px solid;
    border-color: transparent transparent white transparent;
}

.pricing-plans .box>div:hover .label::before {
    border-bottom-color: #f6f6f6;
    transition-delay: 150ms;
}

/* End Pricing Plans */
/* Start Top Videos */
.top-videos .box {
    grid-template-columns: 30% 70%;
    border: 1px solid #ddd;
}

.top-videos .videos-section h3 {
    background: #f4f4f4;
}

.top-videos .videos-section h3::after {
    content: "\f074";
    font-family: "font awesome 5 free";
    font-weight: 900;
}

.top-videos .videos-section li {
    border-top: 1px solid var(--mainColor6);
}

.top-videos .videos-section li a:hover {
    color: var(--mainColor1);
}

.top-videos .preview {
    background: #e2e2e2;
}

/* End Top Videos */
/* Start Stats */
.stats {
    background-image: linear-gradient(rgb(255 255 255 / 95%), rgb(255 255 255 / 95%)), url(../images/stats.jpg);
    background-size: cover;

}

.stats .box {
    grid-template-columns: repeat(4, calc((100% - 60px) / 4));
}

.stats .box>div::before,
.stats .box>div::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 1s;
    background-color: var(--mainColor1);
}

.stats .box>div::after {
    inset: 0 0 auto auto;
}

.stats .box>div:hover::before,
.stats .box>div:hover::after {
    height: 100%;
}

.stats .box>div:hover i:last-child {
    color: var(--mainColor2);
}

/* End Stats */
/* Start Request A Discount */
.request-a-discount {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    scroll-margin-top: 70.69px;
}

.request-a-discount .box::after {
    content: "";
    inset: 0 0 0 0;
    position: absolute;
    background-color: rgb(23 135 224 / 95%);
    z-index: -1;
}

.request-a-discount .box:first-child .img-effect {
    object-position: 0 0;
}

.request-a-discount .box:first-child img[alt=discount-background1] {
    animation: opacity 6s linear alternate infinite;
}

.request-a-discount .box:first-child {
    background-color: rgb(33 150 243);
}

.request-a-discount .box:first-child p {
    max-width: 500px;
}

.request-a-discount .box:first-child img[alt=discount] {
    height: 300px;
    max-width: 100%;
}

@keyframes opacity {
    to {
        opacity: 0;
    }
}

.request-a-discount form input,
.request-a-discount form textarea {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    caret-color: var(--mainColor1);
    width: 100%;
}

.request-a-discount form input[type=submit] {
    background-color: var(--mainColor1);
}

.request-a-discount form input[type=submit]:hover {
    background-color: var(--mainColor2);
}

.request-a-discount form textarea {
    height: 200px;
    resize: none;
}

.request-a-discount form input::placeholder,
.request-a-discount form textarea::placeholder {
    text-transform: capitalize;
}

/* End Request A Discount */
/* Start Footer */
footer {
    background-color: #191919;
}

footer .container {
    grid-template-columns: repeat(4, calc((100% - 90px) / 4));
    padding-block: 70px;
}

footer .box p,
footer .box span {
    color: #b9b9b9;
}

footer .box:first-child .social a {
    background-color: #313131;
    color: #b9b9b9;
}

footer .box:first-child .social a:first-child:hover {
    background-color: #1877f2;
}

footer .box:first-child .social a:nth-child(2):hover {
    background-color: #1da1f2;
}

footer .box:first-child .social a:last-child:hover {
    background-color: #ff0000;
}

footer .box:nth-child(2) li:not(:last-child) {
    border-bottom: 1px solid #444;
}

footer .box:nth-child(2) a {
    color: #b9b9b9;
}

footer .box:nth-child(2) a:hover {
    padding-left: 10px;
}

footer .box:nth-child(2) a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--mainColor1);
    transition: var(--mainTransition);
}

footer .box:nth-child(2) a:hover::before {
    text-shadow: 0 0 5px var(--mainColor2);
}

footer .box:nth-child(3) i {
    flex-shrink: 0;
}

footer .box:last-child img {
    border: 3px solid white;
}

footer>p {
    border-top: 1px solid #444;
}

footer>p a:hover {
    text-shadow: 0 0 5px var(--mainColor1);
}

/* End Footer */
/* Start Scroll Top */
.to-top {
    top: calc(100vh - 80px);
    float: right;
    transform: translateX(-30px);
    border: 3px solid var(--mainColor2);
    background-color: rgb(23 135 224 / 10%);
}

.to-top::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%) rotate(-45deg);
    width: 17px;
    height: 17px;
    border-right: 3px solid var(--mainColor2);
    border-top: 3px solid var(--mainColor2);
    transition: border-color var(--mainTransition);
    z-index: 1;
}

.to-top:hover::before {
    border-color: var(--mainColor5);
    animation: up 1s infinite linear;
}

.to-top::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--mainColor2);
    transition: width var(--mainTransition);
}

.to-top:hover::after {
    width: 100%;
}

@keyframes up {
    25% {
        transform: translate(-50%, calc(-30% + 2px)) rotate(-45deg);
    }
    75% {
        transform: translate(-50%, calc(-30% + -2px)) rotate(-45deg);
    }
}
/* End Scroll Top */
